*.pt
*.zip
__pycache__/
vaipeFixGen/
vaipe/
vaipeFix/
runs/*
!runs/ocr
runs/ocr/*
!runs/ocr/drug_name_dict.csv
!runs/ocr/drug_name_dict.json
wandb/
coco/
*.cache
classify/
ensemble/
vaipe_exif/*
!vaipe_exif/val.txt
dataset/
.Dockerfile.swp
label/
gen/fg
tmp/
ocr/
res_publicval/